.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  align-self: center;
  margin-top: 2.5rem;
  font-size: 2.8rem;
  color: #fff;
}

.slogan {
  align-self: center;
  color: #6419dc;
  margin-top: 1rem;
  z-index: 200;
}

.hide-things {
  animation: fadeOut 2000ms;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.button-redirect {
  display: flex;
  align-self: center;
  appearance: button;
  border: 3px solid #36008d;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0.5rem 1.5rem;
  height: 3.7rem;
  width: 14rem;
  text-align: center;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  z-index: 200;
}

.button-redirect:focus:not(:focus-visible),
.button-redirect:focus {
  outline: 0;
}

.button-redirect:hover {
  background-color: #3733e5;
  border-color: #3733e5;
}

.button-redirect:focus {
  background-color: #413fc5;
  border-color: #3e3bba;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}

.button-redirect:active {
  background-color: #3e3bba;
  background-image: none;
  border-color: #3a38ae;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-redirect:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset,
    rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}

.button-redirect:disabled {
  background-image: none;
  box-shadow: none;
  opacity: 0.65;
  pointer-events: none;
}

@keyframes flicker {
  0% {
    transform: rotate(-1deg);
  }

  20% {
    transform: rotate(3deg) scaleY(1.05);
  }

  60% {
    transform: rotate(1deg);
  }

  80% {
    transform: rotate(-1deg) scaleY(0.9);
  }

  100% {
    transform: rotate(4deg);
  }
}

.rocket {
  width: 230px;
  position: relative;
  z-index: 3;
}

.rocket-wrapper {
  display: flex;
  visibility: hidden;
  justify-content: center;
  position: relative;
  z-index: 100;
  top: 380px;
  transition: 4s ease;
  pointer-events: none;
}

.rocket-launched {
  visibility: visible;
  transform: translateY(-1200px);
}

.rocket-launched .flame-wrapper {
  opacity: 1 !important;
}

.rocket-wrapper .flame-wrapper {
  position: absolute;
  width: max-content;
  height: max-content;
  left: 50%;
  transform: scaleY(-1) translateX(-40px);
  bottom: 46px;
  opacity: 0;
  transition: 250ms ease;
}

.flame {
  bottom: 0;
  position: absolute;
  border-radius: 50% 0% 50% 50%;
  transform: rotate(-45deg);
}

.red {
  width: 80px;
  height: 80px;
  background: orangered;
  box-shadow: 0px 0px 10px 5px orangered;
}

.orange {
  left: 10px;
  width: 60px;
  height: 60px;
  background: orange;
  box-shadow: 0px 0px 12px 6px orange;
}

.gold {
  left: 18px;
  width: 45px;
  height: 45px;
  background: gold;
  box-shadow: 0px 0px 9px 4px gold;
}

.white {
  left: 22px;
  width: 35px;
  height: 35px;
  background: lightyellow;
  box-shadow: 0px 0px 9px 4px lightyellow;
}

.flame-anim {
  position: relative;
  animation: flicker 3ms ease-in infinite;
}

.earth {
  align-self: center;
  margin-top: 5rem;
  width: 80%;
  z-index: 200;
  filter: drop-shadow(0px 0px 30px rgba(5, 0, 165, 0.2));
}

