@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  align-self: center;
  text-align: center;
  margin-top: 2.5rem;
  font-size: 2.8rem;
  letter-spacing: 0.10em;
  color: #fff;
  font-family: "Orbitron", sans-serif;
  text-shadow: #ffffff5d 3px 3px 50px;
}

.slogan {
  align-self: center;
  text-align: center;
  color: #6419dc;
  margin-top: 1rem;
  z-index: 200;
  font-family: "Orbitron", sans-serif;
  font-weight: lighter;
}

.hide-things {
  animation: fadeOut 1500ms;
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.btn-redirect {
  display: flex;
  align-items: center;
  align-self: center;
  cursor: pointer;
  height: 6%;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.8em 1.3em 0.8em 0.9em;
  border: 3px solid #36008d;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
  color: white;
  border-color: rgb(22, 11, 58);
  letter-spacing: 0.05em;
  border-radius: 16px;
}

.btn-redirect svg {
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.btn-redirect span {
  margin-left: 15px;
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  letter-spacing: 0.1em;
}

.btn-redirect:hover svg {
  transform: translateX(5px) rotate(90deg);
}

.btn-redirect:hover span {
  transform: translateX(7px);
}

.rocket {
  width: 230px;
  position: relative;
  z-index: 3;
}

.rocket-wrapper {
  display: flex;
  visibility: hidden;
  justify-content: center;
  position: relative;
  z-index: 100;
  top: 380px;
  transition: 4s ease;
  pointer-events: none;
}

.rocket-launched {
  visibility: visible;
  transform: translateY(-1200px);
}

.rocket-launched .flame-wrapper {
  opacity: 1 !important;
}

.rocket-wrapper .flame-wrapper {
  position: absolute;
  width: max-content;
  height: max-content;
  left: 50%;
  transform: scaleY(-1) translateX(-40px);
  bottom: 46px;
  opacity: 0;
  transition: 250ms ease;
}

.flame {
  bottom: 0;
  position: absolute;
  border-radius: 50% 0% 50% 50%;
  transform: rotate(-45deg);
}

.red {
  width: 80px;
  height: 80px;
  background: orangered;
  box-shadow: 0px 0px 10px 5px orangered;
}

.orange {
  left: 10px;
  width: 60px;
  height: 60px;
  background: orange;
  box-shadow: 0px 0px 12px 6px orange;
}

.gold {
  left: 18px;
  width: 45px;
  height: 45px;
  background: gold;
  box-shadow: 0px 0px 9px 4px gold;
}

.white {
  left: 22px;
  width: 35px;
  height: 35px;
  background: lightyellow;
  box-shadow: 0px 0px 9px 4px lightyellow;
}

.flame-anim {
  position: relative;
  animation: flicker 3ms ease-in infinite;
}

.earth {
  align-self: center;
  margin-top: 5rem;
  margin-bottom: -1rem;
  width: 80%;
  z-index: 200;
  filter: drop-shadow(0px 0px 30px rgba(5, 0, 165, 0.2));
}