.container {
  display: flex;
  flex-direction: column;
  height: 60rem;
}

article {
  display: flex;
  justify-content: center;
}

h1 {
  align-self: center;
  color: #fff;
  margin-top: 3rem;
}

.button-redirect {
  display: flex;
  align-self: center;
  appearance: button;
  /* background-color: #4D4AE8;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0)); */
  border: 3px solid #36008d;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 9rem;
  padding: 0.5rem 1rem;
  height: 3rem;
  width: 13rem;
  text-align: center;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-redirect:focus:not(:focus-visible),
.button-redirect:focus {
  outline: 0;
}

.button-redirect:hover {
  background-color: #3733e5;
  border-color: #3733e5;
}

.button-redirect:focus {
  background-color: #413fc5;
  border-color: #3e3bba;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}

.button-redirect:active {
  background-color: #3e3bba;
  background-image: none;
  border-color: #3a38ae;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-redirect:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset,
    rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}

.button-redirect:disabled {
  background-image: none;
  box-shadow: none;
  opacity: 0.65;
  pointer-events: none;
}

.earth {
  align-self: center;
  margin-top: 5rem;
  width: 80rem;
  filter: drop-shadow(0px 0px 30px rgba(5, 0, 165, 0.2));
}
