.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  background-color: rgba(255, 255, 255, 0.06);
  margin: 3rem;
  border-radius: 3rem;

}

.planet-name {
  text-align: center;
  margin-top: 2.5rem;
  color: rgb(255, 135, 135);
  font-size: 3rem;
}

.planet-details {
  margin: 2rem;
  padding: 1.5rem;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.7em;
}

.small-cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10rem;
}

.planet-type {
  text-align: center;
  font-weight: 600;
  background: rgb(206, 206, 206);
  display: inline-block;
  height: 4em;
  width: 12em;
  padding-top: 1.3rem;
  margin-left: 3rem;
  border-radius: 5em;
  letter-spacing: 0.15em;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  transition: color 0.6s, box-shadow 0.3s, transform 0.3s;
}

.planet-diameter {
  text-align: center;
  font-weight: 600;
  background: rgb(206, 206, 206);
  display: inline-block;
  height: 4em;
  width: 12em;
  padding-top: 1.3rem;
  margin-left: 1.5rem;
  border-radius: 5em;
  letter-spacing: 0.15em;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  transition: color 0.6s, box-shadow 0.3s, transform 0.3s;
}

.planet-distance {
  text-align: center;
  font-weight: 600;
  background: rgb(206, 206, 206);
  display: inline-block;
  height: 4em;
  width: 12em;
  padding-top: 1.3rem;
  margin-left: 1.5rem;
  border-radius: 5em;
  letter-spacing: 0.15em;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  transition: color 0.6s, box-shadow 0.3s, transform 0.3s;
}

.planet-composition {
  text-align: center;
  font-weight: 600;
  background: rgb(206, 206, 206);
  display: inline-block;
  height: 4em;
  width: 12em;
  padding-top: 1.3rem;
  margin-left: 1.5rem;
  border-radius: 5em;
  letter-spacing: 0.15em;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  transition: color 0.6s, box-shadow 0.3s, transform 0.3s;
}

.planet-type:hover {
  box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
  color: #303030;
}

.planet-climate-title {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.5rem;
  margin-right: 2rem;
  color: #f7941f;
}

.planet-climate {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 25rem;
  color: #fff;
  font-size: 1rem;
}

.planet-activities-title {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-right: 1rem;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.activity {
  display: flex;
  align-self: center;
  margin-bottom: 10rem;
  height: 30%;
  width: 50%;
}

.planet-hotel-title {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-right: 1rem;
  color: #fff;
  font-size: 2rem;
}
